body{
    font-family: verdana;
}

.left{
    background-color: #29434E;
    color: white;
    text-align: center;
    width: 70%;
    height: 70px;
}
header{
    display: flex;
}
.right{
    background-color: #29434E;
    color: white;
    width: 30%;
    height: 70px;
}

.recomended, .fantasy{
    background-color: #b0bec5;
    height: 320px;
    overflow: scroll;
}

footer{
    background-color: #29434E;
    color: white;
}
.divy{
    display: flex;
}
h3{
    background-color: #546E7A;
    color: white;
    margin: 0px;
}

h4{
    text-align: center;
    margin: 0px;
}


.filmy{
    margin: 5px;
    width: 226px;
    height: 280px;
}