*{
    font-family: Georgia;
    text-align: center;
}

header, footer{
    background-color: #4ba3c7;
    color: white;
    height: 80px;
    font-size: 120%;
}

main{
    display: flex;
}

.left, .right{
    background-color: #EFEFEF;
    height: 400px;
    width: 25%;
}

.middle{
    background-color: #90caf9;
    height: 400px;
    width: 50%;
}

table{
    margin-left: 10px;
    width: 90%;
    border: 1px solid #90caf9;
}

td{
    margin: 5px;
    border: 1px solid #90caf9;
}

tr:hover{
    background-color: #90caf9;
}

input{
    margin-top: 15px;
    margin-bottom: 15px;
}
