body{
    background-color: #f6e5dc;
    font-family: verdana;
}
header{
    background-color: #2f180c;
    text-align: center;
    color: khaki;
    height: 60px;
}
div{
    display: flex;
}
.left{
    width: 60%;
}
.right{
    font-size: 150%;
    padding: 70px;
}
.bottom{
    background-color: #d0b6a8;
    text-align: center;
    padding: 30px;
}
footer{
    background-color: #2f180c;
    color: khaki;
    height: 60px;
}
img{
    height: 350px;
}
button{
    margin: 10px;
    padding: 5px;
    background-color: #2f180c;
    color: khaki;
}