*{
    font-family: Georgia;
}
.header_left, .header_right{
    background-color: navy;
    color: white;
    text-align: center;
    height: 100px;
    width: 50%;
}

header{
    display: flex;
}

menu{
    background-color: navy;
    padding: 20px;
}

label{
    color: silver;
    margin: 50px;
}

label:hover{
    color: white;
    text-decoration: underline;
}

.left, .right{
    background-color: azure;
    height: 550px;
}

.left{
    width: 70%;
}

.right{
    width: 30%;
}

main{
    display: flex;
}

footer{
    background-color: navy;
    color: white;
}

table{
    border: 1px solid navy;
    margin: auto;
    width: 70%;
}

tr:hover{
    background-color: skyblue;
}

#second_picture{
    width: 90%;
}